<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ycw.article.mapper.ArticleMapper">

    <sql id="column_list">
        t.id id, <!-- 主键 -->
        t.title title, <!-- 标题 -->
        t.introduction introduction, <!-- 简介 -->
        t.article_type articleType, <!-- 分类 -->
        t.author author, <!-- 作者 -->
        t.publish_time publishTime, <!-- 发布时间 -->
        t.content content, <!-- 内容 -->
        t.is_show isShow, <!-- 是否展示 -->
        t.read_count readCount, <!-- 阅读数 -->
        t.like_count likeCount, <!-- 喜欢数 -->
        t.unlike_count unlikeCount, <!-- 不喜欢数 -->
        t.del_ind delInd, <!-- 删除标识：0-未删除；1-删除 -->
        t.create_user createUser, <!-- 创建人 -->
        t.create_time createTime, <!-- 创建时间 -->
        t.update_user updateUser, <!-- 更新人 -->
        t.update_time updateTime, <!-- 更新时间 -->
        t.version version <!-- 版本号 -->
	</sql>

    <sql id="where_filters">
        <where>
    		AND t.del_ind = '0'
			<if test="id != null">
				AND t.id = #{id}
			</if>
			<if test="title != null and title != ''">
				AND t.title = #{title}
			</if>
			<if test="introduction != null and introduction != ''">
				AND t.introduction = #{introduction}
			</if>
			<if test="articleType != null and articleType != ''">
				AND t.article_type = #{articleType}
			</if>
			<if test="author != null and author != ''">
				AND t.author = #{author}
			</if>
			<if test="publishTime != null">
				AND t.publish_time = #{publishTime}
			</if>
			<if test="content != null and content != ''">
				AND t.content = #{content}
			</if>
			<if test="isShow != null">
				AND t.is_show = #{isShow}
			</if>
			<if test="readCount != null">
				AND t.read_count = #{readCount}
			</if>
			<if test="likeCount != null">
				AND t.like_count = #{likeCount}
			</if>
			<if test="unlikeCount != null">
				AND t.unlike_count = #{unlikeCount}
			</if>
			<if test="delInd != null">
				AND t.del_ind = #{delInd}
			</if>
			<if test="createUser != null">
				AND t.create_user = #{createUser}
			</if>
			<if test="createTime != null">
				AND t.create_time = #{createTime}
			</if>
			<if test="updateUser != null">
				AND t.update_user = #{updateUser}
			</if>
			<if test="updateTime != null">
				AND t.update_time = #{updateTime}
			</if>
			<if test="version != null">
				AND t.version = #{version}
			</if>
        </where>
        ORDER BY t.create_time DESC
    </sql>

    <!--根据条件查询列表-->
    <select id="queryArticleList" parameterType="map" resultType="map">
        SELECT
		<include refid="column_list"/>
        FROM article t
        <include refid="where_filters"/>
    </select>

</mapper>
